/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn, %btn:visited {
  font-family: $sans-serif;
  border: 1px solid darken($link-color, 13%);
  border-top-color: darken($link-color, 7%);
  border-left-color: darken($link-color, 7%);
  padding: .2em .5em;
  color: $white;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px black(.75);
  cursor: pointer;
  line-height: 1.3em;
  border-radius:.3em;
  background: darken($link-color, 10%);

  &:active {
    top: 1px;
    background: darken($link-color, 10%);
    color:$white;    
  }

  &:hover, &:focus {
    color: $white;
    border: 1px solid darken($link-color, 13%);
    background: darken($link-color, 20%);
  }

  

} // end .button


.button, input[type="submit"] {
  @extend %btn; // here we load the btn defaults
  // background-color: $red;

  &.green {
    color:$white;
    background-color:darken($green, 12%);
    border-color: darken($green, 6%);
    
    &:hover,
    &:focus {
      background-color: darken($green, 20%);
    } // end hover

    &:active {
      background-color: darken($green, 25%);
    } // end active  
  }

  &.white {
    background-color:$white;
    color:$red;
    border-color: darken($red, 6%);
    
    &:hover,
    &:focus {
      color:$white;
      background-color: lighten($red, 18%);
    } // end hover

    &:active {
      background-color: lighten($red, 22%);
    } // end active  
  }

  &.alignright, &.alignleft {
    display: inline-block;
  }

  &.alignright {
    float:right;
  }

  &.small {
    font-size: .9rem;
    line-height:1.1rem;
  }

} // end blue button